.banner {
  position: relative;
  height: 400px;
  background: red;
  object-fit: contain;
  color: white;
}

.banner__content {
  margin-left: 30px;
  padding-top: 144px;
}

.banner__description {
  font-size: 0.8rem;
  width: 45rem;
  line-height: 1.3;
  max-width: 360px;
  height: 86px;
  margin-top: 1rem;
}

.banner--fadeButtom {
  height: 7rem;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.banner__button {
  cursor: pointer;
  color: white;
  outline: none;
  font-weight: 700;
  border: none;
  border-radius: 0.3vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background: rgba(51, 51, 51, 0.51);
}

.banner__button:hover {
  background-color: #e6e6e6;
  color: black;
  transition: all 0.5s ease;
}
