.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 100;
  transition: all 0.5s ease-in;
}

.nav--black {
  background-color: #111;
}

.nav__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.nav__logo {
  /* position: fixed;
  top: 0; */
  width: 120px;
  object-fit: contain;
  cursor: pointer;
}

.nav__avatar {
  /* position: fixed;
  top: 20px;
  right: 30px; */
  width: 30px;
  cursor: pointer;
}

.nav__button {
  padding: 0.5rem 0.8rem;
  color: white;
  font-weight: 600;
  font-size: 15px;
  background: #e50913;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav__button:hover {
  background: #ff000d;
  box-shadow: 1px 2px 2px #555454b0;
}
