@media (max-width: 960px) {
  .app .profileScreen .container {
    width: 70%;
  }
  .app .profileScreen__planList {
    padding: 0.5rem 0;
  }
  .profileScreen__renewDate {
    font-size: 14px;
  }

  .app .netflixPlan p {
    font-size: 15px;
  }

  /* modal */
  .app .modal {
    left: 35%;
  }
}

@media (max-width: 576px) {
  /* login Screen  */
  .app .getStarted h2 {
    font-size: 40px;
  }

  .app .loginScreen__loginForm > input,
  .app .getStarted__form > input {
    max-height: 1rem;
    font-size: 13x;
    width: 88%;
  }

  .app .getStarted__form #getStarted {
    max-width: 60%;
  }

  .app .getStarted__form #getStartedBtn {
    font-size: 13px;
    width: 50%;
    padding: 0 0.5rem;
  }

  /* login Form */
  .loginScreen__loginForm {
    max-width: 90%;
  }
  .loginScreen__loginForm button {
    font-size: 13px;
  }

  /* nav section */
  .app .nav {
    width: 100vw;
  }
  .app .nav__logo {
    width: 80px;
  }
  .app .nav__avatar {
    width: 20px;
    height: 20px;
  }
  .app .nav__button {
    padding: 0.4rem 0.6rem;
    font-size: 13px;
  }

  /* modal */
  .app .modal {
    /* left: 27%; */
    max-width: 10rem;
    padding: 0.5rem 1rem;
  }
  .app .modal__content {
    margin: 0;
  }
  .app .modal__info {
    font-size: 15px;
    font-weight: 300;
  }

  /* banner section */
  .app .banner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .app .banner__content {
    margin: auto;
    padding: 15rem 2rem 2rem 2rem;
    text-align: center;
  }
  .app .banner__title {
    margin-bottom: 0.5rem;
  }
  .app .banner__description {
    width: 100%;
  }

  /* row section */
  .app .row__posters {
    padding-left: 5px;
  }
  .app .row__poster {
    max-height: 200px;
    opacity: 1;
  }

  .app .row__title {
    padding-left: 5px;
    font-size: 16px;
    font-weight: 400;
  }

  /* profile screen */
  .app .profileScreen__content {
    /* text-align: center; */
    flex-direction: column;
  }
  .app .profileScreen .container h1 {
    font-size: 28px;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 400;
  }

  .app .profileScreen__avatar {
    margin: auto;
  }
  .app .profileScreen__content .email {
    font-size: 15px;
    padding: 0.5rem;
    text-align: center;
  }
  .app .profileScreen__plans h3 {
    font-size: 17px;
    text-align: center;
    color: rgb(184, 174, 174);
    border-bottom: 1px solid rgba(70, 69, 69, 0.863);
  }

  .app .netflixPlan p {
    font-size: 15px;
  }
}

@media (max-width: 374px) {
  /* modal */
  .app .modal {
    left: 22%;
  }
}
